Orchestrator_API.json
{"flowContents":{"identifier":"70697cea-725d-3800-94e9-21532aa2f723","name":"Orchestrator API","comments":"","position":{"x":-976.0,"y":-272.0},"processGroups":[{"identifier":"d215c208-3452-310c-8c2c-4352628bc348","name":"Orchestrator Status","comments":"","position":{"x":128.0,"y":880.0},"processGroups":[{"identifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Set Status","comments":"","position":{"x":640.0,"y":464.0},"processGroups":[{"identifier":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"Http 400 Client Error","comments":"","position":{"x":1048.0,"y":-312.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 400","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"400"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"abe4ab31-9792-3157-be10-9ad15be4ac69"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 400 Error","log-level":"info","log-prefix":"orchestrator(${path}/status)->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"abe4ab31-9792-3157-be10-9ad15be4ac69"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Unknown status code","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"abe4ab31-9792-3157-be10-9ad15be4ac69"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"abe4ab31-9792-3157-be10-9ad15be4ac69"}],"outputPorts":[],"connections":[{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"Http 400","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abe4ab31-9792-3157-be10-9ad15be4ac69"},{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"Http 400","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abe4ab31-9792-3157-be10-9ad15be4ac69"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"abe4ab31-9792-3157-be10-9ad15be4ac69"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"e1ea428a-d678-381a-9551-ec0c8a871e1b","name":"Http 500 Server Error","comments":"","position":{"x":872.0,"y":648.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 500","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1ea428a-d678-381a-9551-ec0c8a871e1b"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 500 Error","log-level":"info","log-prefix":"orchestrator(${path}/status)->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1ea428a-d678-381a-9551-ec0c8a871e1b"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Something went wrong at our side","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1ea428a-d678-381a-9551-ec0c8a871e1b"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"e1ea428a-d678-381a-9551-ec0c8a871e1b"}],"outputPorts":[],"connections":[{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"e1ea428a-d678-381a-9551-ec0c8a871e1b","name":"Http 500","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"e1ea428a-d678-381a-9551-ec0c8a871e1b","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1ea428a-d678-381a-9551-ec0c8a871e1b"},{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"e1ea428a-d678-381a-9551-ec0c8a871e1b","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"e1ea428a-d678-381a-9551-ec0c8a871e1b","name":"Http 500","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1ea428a-d678-381a-9551-ec0c8a871e1b"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"e1ea428a-d678-381a-9551-ec0c8a871e1b","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"e1ea428a-d678-381a-9551-ec0c8a871e1b","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1ea428a-d678-381a-9551-ec0c8a871e1b"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"}],"remoteProcessGroups":[],"processors":[{"identifier":"aa770255-ef6d-33fa-9c3f-12d2bbec7468","name":"Status Orchestrator","comments":"","position":{"x":344.0,"y":360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"${node.path}","Working Directory":"${project.dir}","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"js/nifi_client.js;${command};-r;${node.root};-b;${node.host};${path}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"e48f6701-34ec-30b7-b632-fa78914500b5","name":"Set start command","comments":"","position":{"x":-232.0,"y":16.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"command":"start"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"command":{"name":"command","displayName":"command","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"f7d895d9-d9e3-3b3e-a168-d020a6d24b64","name":"Read status from JSON input","comments":"","position":{"x":336.0,"y":-376.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","status":"$.status"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"39b9e4b1-edda-3ee4-89be-0d8088924a0c","name":"Send 200 OK","comments":"","position":{"x":344.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":"Content-Type|Access.*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"d726f7b7-85b3-3297-be8c-309157cd44b0","name":"Set status path","comments":"","position":{"x":344.0,"y":152.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"path":"${path:replaceAll(\"/status\",\"\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"path":{"name":"path","displayName":"path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"c12d3db8-f81c-3c7c-a324-7b14cb1bd32e","name":"Set stop command","comments":"","position":{"x":928.0,"y":0.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"command":"stop"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"command":{"name":"command","displayName":"command","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"4a83b30e-739d-37ca-b39c-3adea2a765eb","name":"Log OK","comments":"","position":{"x":344.0,"y":928.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#00f731"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 200 OK","log-level":"info","log-prefix":"orchestrator(${path}/status) ->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"6b8e3110-3886-3f90-be53-a053450bea4e","name":"Check status value","comments":"","position":{"x":336.0,"y":-160.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","STOP":"${status:equals('STOPPED')}","START":"${status:equals('RUNNING')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"STOP":{"name":"STOP","displayName":"STOP","identifiesControllerService":false,"sensitive":false},"START":{"name":"START","displayName":"START","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"}],"inputPorts":[{"identifier":"05b0f534-2ddd-3978-8a02-c05509abd321","name":"IN","comments":"","position":{"x":392.0,"y":-528.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"}],"outputPorts":[],"connections":[{"identifier":"60431737-b486-35a8-a46e-786793150f22","name":"","source":{"id":"c12d3db8-f81c-3c7c-a324-7b14cb1bd32e","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Set stop command","comments":""},"destination":{"id":"d726f7b7-85b3-3297-be8c-309157cd44b0","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Set status path","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"9f71cdf7-a3ef-3795-8bc9-f2258327689c","name":"","source":{"id":"d726f7b7-85b3-3297-be8c-309157cd44b0","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Set status path","comments":""},"destination":{"id":"aa770255-ef6d-33fa-9c3f-12d2bbec7468","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Status Orchestrator","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"0b1af11f-793f-3f19-9007-05e52880ff85","name":"","source":{"id":"aa770255-ef6d-33fa-9c3f-12d2bbec7468","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Status Orchestrator","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"e1ea428a-d678-381a-9551-ec0c8a871e1b","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"f8d89ab0-1d14-36de-b8ed-115f9c6ebc8a","name":"","source":{"id":"aa770255-ef6d-33fa-9c3f-12d2bbec7468","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Status Orchestrator","comments":""},"destination":{"id":"39b9e4b1-edda-3ee4-89be-0d8088924a0c","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Send 200 OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"004320e7-ae31-3df1-bbf9-9ceee3c8f0b5","name":"","source":{"id":"05b0f534-2ddd-3978-8a02-c05509abd321","type":"INPUT_PORT","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"IN","comments":""},"destination":{"id":"f7d895d9-d9e3-3b3e-a168-d020a6d24b64","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Read status from JSON input","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"af2a30db-af0e-3d1f-928f-df1ca3c637a0","name":"","source":{"id":"f7d895d9-d9e3-3b3e-a168-d020a6d24b64","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Read status from JSON input","comments":""},"destination":{"id":"6b8e3110-3886-3f90-be53-a053450bea4e","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Check status value","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"ea41f0f8-e0d4-311e-a9d1-d851b17b6bf2","name":"","source":{"id":"f7d895d9-d9e3-3b3e-a168-d020a6d24b64","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Read status from JSON input","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"e4f5135d-0343-3c79-b25c-216dd35b6acc","name":"","source":{"id":"6b8e3110-3886-3f90-be53-a053450bea4e","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Check status value","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"abe4ab31-9792-3157-be10-9ad15be4ac69","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"ab853533-a1ef-39ba-8fa8-3defcd247f2d","name":"","source":{"id":"6b8e3110-3886-3f90-be53-a053450bea4e","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Check status value","comments":""},"destination":{"id":"e48f6701-34ec-30b7-b632-fa78914500b5","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Set start command","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["START"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"331a2d31-e661-3a20-bc2f-df46c022c449","name":"","source":{"id":"39b9e4b1-edda-3ee4-89be-0d8088924a0c","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Send 200 OK","comments":""},"destination":{"id":"4a83b30e-739d-37ca-b39c-3adea2a765eb","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Log OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"28fbf72a-e175-3148-a8c6-0ccef29160da","name":"","source":{"id":"6b8e3110-3886-3f90-be53-a053450bea4e","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Check status value","comments":""},"destination":{"id":"c12d3db8-f81c-3c7c-a324-7b14cb1bd32e","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Set stop command","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["STOP"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"},{"identifier":"2e78d7f4-7156-364d-b694-6e34758242af","name":"","source":{"id":"e48f6701-34ec-30b7-b632-fa78914500b5","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Set start command","comments":""},"destination":{"id":"d726f7b7-85b3-3297-be8c-309157cd44b0","type":"PROCESSOR","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"Set status path","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ffdf66f-2df0-3d30-8892-c34f0c119421"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d215c208-3452-310c-8c2c-4352628bc348"},{"identifier":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Get Status","comments":"","position":{"x":40.0,"y":464.0},"processGroups":[{"identifier":"00054f29-208e-326b-bda1-8065fe467104","name":"Http 500 Server Error","comments":"","position":{"x":872.0,"y":648.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 500","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"00054f29-208e-326b-bda1-8065fe467104"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 500 Error","log-level":"info","log-prefix":"orchestrator(${path}/status)->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"00054f29-208e-326b-bda1-8065fe467104"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Something went wrong at our side","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"00054f29-208e-326b-bda1-8065fe467104"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"00054f29-208e-326b-bda1-8065fe467104"}],"outputPorts":[],"connections":[{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"00054f29-208e-326b-bda1-8065fe467104","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"00054f29-208e-326b-bda1-8065fe467104","name":"Http 500","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00054f29-208e-326b-bda1-8065fe467104"},{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"00054f29-208e-326b-bda1-8065fe467104","name":"Http 500","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"00054f29-208e-326b-bda1-8065fe467104","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00054f29-208e-326b-bda1-8065fe467104"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"00054f29-208e-326b-bda1-8065fe467104","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"00054f29-208e-326b-bda1-8065fe467104","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00054f29-208e-326b-bda1-8065fe467104"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"}],"remoteProcessGroups":[],"processors":[{"identifier":"797d1a3e-50cb-3a8d-9385-680402b5642b","name":"Send 200 OK","comments":"","position":{"x":344.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":"Content-Type|Access.*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"},{"identifier":"5b0943d7-69ec-382e-8b1b-d9eff29c4289","name":"Set status path","comments":"","position":{"x":344.0,"y":152.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"path":"${path:replaceAll(\"/status\",\"\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"path":{"name":"path","displayName":"path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"},{"identifier":"610e8521-9444-3cd6-aacf-bee754a4e641","name":"Log OK","comments":"","position":{"x":344.0,"y":928.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#00f731"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 200 OK","log-level":"info","log-prefix":"orchestrator(${path}/status) ->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"},{"identifier":"0d8fdc8b-89fa-3b10-b437-4d79d93ac201","name":"Status Orchestrator","comments":"","position":{"x":344.0,"y":360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"${node.path}","Working Directory":"${project.dir}","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"js/nifi_client.js;status;-r;${node.root};-b;${node.host};${path}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"}],"inputPorts":[{"identifier":"ac8a3b8a-3447-3cb4-86dc-fd787d96b28d","name":"IN","comments":"","position":{"x":400.0,"y":-16.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"}],"outputPorts":[],"connections":[{"identifier":"44460203-7eaf-3c68-a904-08bc9cdcd6af","name":"","source":{"id":"ac8a3b8a-3447-3cb4-86dc-fd787d96b28d","type":"INPUT_PORT","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"IN","comments":""},"destination":{"id":"5b0943d7-69ec-382e-8b1b-d9eff29c4289","type":"PROCESSOR","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Set status path","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"},{"identifier":"44e7c70d-e6a8-3137-8492-984b9d781570","name":"","source":{"id":"0d8fdc8b-89fa-3b10-b437-4d79d93ac201","type":"PROCESSOR","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Status Orchestrator","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"00054f29-208e-326b-bda1-8065fe467104","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"},{"identifier":"18a89c6d-95a2-3a23-b30d-cdf95fd19287","name":"","source":{"id":"5b0943d7-69ec-382e-8b1b-d9eff29c4289","type":"PROCESSOR","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Set status path","comments":""},"destination":{"id":"0d8fdc8b-89fa-3b10-b437-4d79d93ac201","type":"PROCESSOR","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Status Orchestrator","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"},{"identifier":"c6eb157b-d861-3cd8-868c-4c11485f27ea","name":"","source":{"id":"797d1a3e-50cb-3a8d-9385-680402b5642b","type":"PROCESSOR","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Send 200 OK","comments":""},"destination":{"id":"610e8521-9444-3cd6-aacf-bee754a4e641","type":"PROCESSOR","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Log OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"},{"identifier":"565a8f18-06ab-349f-9b4b-9793fd06a048","name":"","source":{"id":"0d8fdc8b-89fa-3b10-b437-4d79d93ac201","type":"PROCESSOR","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Status Orchestrator","comments":""},"destination":{"id":"797d1a3e-50cb-3a8d-9385-680402b5642b","type":"PROCESSOR","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"Send 200 OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19d070a9-0f23-3650-8b52-e2f690000121"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d215c208-3452-310c-8c2c-4352628bc348"}],"remoteProcessGroups":[],"processors":[{"identifier":"732cf970-ec03-3dcc-ba57-f24994411ede","name":"Route GET, POST","comments":"","position":{"x":344.0,"y":152.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","POST":"${http.method:equals('POST')}","GET":"${http.method:equals('GET')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"POST":{"name":"POST","displayName":"POST","identifiesControllerService":false,"sensitive":false},"GET":{"name":"GET","displayName":"GET","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d215c208-3452-310c-8c2c-4352628bc348"}],"inputPorts":[{"identifier":"67efe708-a285-34ec-a85d-bba791f502aa","name":"IN","comments":"","position":{"x":400.0,"y":0.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"d215c208-3452-310c-8c2c-4352628bc348"}],"outputPorts":[],"connections":[{"identifier":"f9a8d045-fac9-38e2-a872-de8caba170ca","name":"","source":{"id":"732cf970-ec03-3dcc-ba57-f24994411ede","type":"PROCESSOR","groupId":"d215c208-3452-310c-8c2c-4352628bc348","name":"Route GET, POST","comments":""},"destination":{"id":"ac8a3b8a-3447-3cb4-86dc-fd787d96b28d","type":"INPUT_PORT","groupId":"19d070a9-0f23-3650-8b52-e2f690000121","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["GET"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d215c208-3452-310c-8c2c-4352628bc348"},{"identifier":"535337e6-3884-35d1-8845-be275f0680c4","name":"","source":{"id":"67efe708-a285-34ec-a85d-bba791f502aa","type":"INPUT_PORT","groupId":"d215c208-3452-310c-8c2c-4352628bc348","name":"IN","comments":""},"destination":{"id":"732cf970-ec03-3dcc-ba57-f24994411ede","type":"PROCESSOR","groupId":"d215c208-3452-310c-8c2c-4352628bc348","name":"Route GET, POST","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d215c208-3452-310c-8c2c-4352628bc348"},{"identifier":"864cfd07-122a-38b2-b661-933eb57eb513","name":"","source":{"id":"732cf970-ec03-3dcc-ba57-f24994411ede","type":"PROCESSOR","groupId":"d215c208-3452-310c-8c2c-4352628bc348","name":"Route GET, POST","comments":""},"destination":{"id":"05b0f534-2ddd-3978-8a02-c05509abd321","type":"INPUT_PORT","groupId":"1ffdf66f-2df0-3d30-8892-c34f0c119421","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["POST"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d215c208-3452-310c-8c2c-4352628bc348"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"9de1cf61-6815-3af8-ba84-8b4a4963e92f","name":"Orchestrator List|Add","comments":"","position":{"x":-232.0,"y":616.0},"processGroups":[{"identifier":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"Orchestrator Add","comments":"","position":{"x":288.0,"y":832.0},"processGroups":[{"identifier":"4afcf2df-c1b7-37a9-89f8-f7c66b150449","name":"Http 500 Server Error","comments":"","position":{"x":1152.0,"y":520.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 500","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4afcf2df-c1b7-37a9-89f8-f7c66b150449"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 500 Error","log-level":"info","log-prefix":"orchestrator(${path})->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4afcf2df-c1b7-37a9-89f8-f7c66b150449"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Something went wrong at our side","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4afcf2df-c1b7-37a9-89f8-f7c66b150449"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"4afcf2df-c1b7-37a9-89f8-f7c66b150449"}],"outputPorts":[],"connections":[{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"4afcf2df-c1b7-37a9-89f8-f7c66b150449","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"4afcf2df-c1b7-37a9-89f8-f7c66b150449","name":"Http 500","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4afcf2df-c1b7-37a9-89f8-f7c66b150449"},{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"4afcf2df-c1b7-37a9-89f8-f7c66b150449","name":"Http 500","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"4afcf2df-c1b7-37a9-89f8-f7c66b150449","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4afcf2df-c1b7-37a9-89f8-f7c66b150449"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"4afcf2df-c1b7-37a9-89f8-f7c66b150449","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"4afcf2df-c1b7-37a9-89f8-f7c66b150449","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4afcf2df-c1b7-37a9-89f8-f7c66b150449"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"}],"remoteProcessGroups":[],"processors":[{"identifier":"d70c0ced-41e0-3f0d-8fbd-df6df93fa9e2","name":"Create Orchestrator","comments":"","position":{"x":552.0,"y":304.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"${node.path}","Working Directory":"${project.dir}","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"js/nifi_client.js;create-process-group;-r;${node.root};-b;${node.host};${node.template}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"},{"identifier":"8c394566-dc6d-3b0c-b837-2830e211333b","name":"Log OK","comments":"","position":{"x":552.0,"y":864.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#00f731"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 200 OK","log-level":"info","log-prefix":"orchestrator(${path}) ->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"},{"identifier":"cc21720d-9bbc-3cf5-9ceb-bb70693a387d","name":"Send 200 OK","comments":"","position":{"x":552.0,"y":560.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":"Content-Type|Access.*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"}],"inputPorts":[{"identifier":"b5d2a58e-8dd6-385e-aa77-9a84f36aab8e","name":"IN","comments":"","position":{"x":608.0,"y":152.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"}],"outputPorts":[],"connections":[{"identifier":"62ae520f-ebeb-3677-abc7-fec89580b167","name":"","source":{"id":"d70c0ced-41e0-3f0d-8fbd-df6df93fa9e2","type":"PROCESSOR","groupId":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"Create Orchestrator","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"4afcf2df-c1b7-37a9-89f8-f7c66b150449","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"},{"identifier":"bda3e1c7-9b63-3896-a95e-9731b0a91e02","name":"","source":{"id":"d70c0ced-41e0-3f0d-8fbd-df6df93fa9e2","type":"PROCESSOR","groupId":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"Create Orchestrator","comments":""},"destination":{"id":"cc21720d-9bbc-3cf5-9ceb-bb70693a387d","type":"PROCESSOR","groupId":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"Send 200 OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"},{"identifier":"7baf8829-9258-3c7b-a4fc-0a110df50936","name":"","source":{"id":"cc21720d-9bbc-3cf5-9ceb-bb70693a387d","type":"PROCESSOR","groupId":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"Send 200 OK","comments":""},"destination":{"id":"8c394566-dc6d-3b0c-b837-2830e211333b","type":"PROCESSOR","groupId":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"Log OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"},{"identifier":"c8d1f38b-cc83-3723-a8ca-119e96b615f7","name":"","source":{"id":"b5d2a58e-8dd6-385e-aa77-9a84f36aab8e","type":"INPUT_PORT","groupId":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"IN","comments":""},"destination":{"id":"d70c0ced-41e0-3f0d-8fbd-df6df93fa9e2","type":"PROCESSOR","groupId":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"Create Orchestrator","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e41806a7-fa78-3955-9aa1-34f41d31389b"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9de1cf61-6815-3af8-ba84-8b4a4963e92f"},{"identifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"Orchestrator List","comments":"","position":{"x":-312.0,"y":840.0},"processGroups":[{"identifier":"e5066086-8987-3e64-9c53-bb5ebffd876f","name":"Http 500 Server Error","comments":"","position":{"x":904.0,"y":600.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 500","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5066086-8987-3e64-9c53-bb5ebffd876f"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 500 Error","log-level":"info","log-prefix":"orchestrator(${path})->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5066086-8987-3e64-9c53-bb5ebffd876f"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Something went wrong at our side","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5066086-8987-3e64-9c53-bb5ebffd876f"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"e5066086-8987-3e64-9c53-bb5ebffd876f"}],"outputPorts":[],"connections":[{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"e5066086-8987-3e64-9c53-bb5ebffd876f","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"e5066086-8987-3e64-9c53-bb5ebffd876f","name":"Http 500","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5066086-8987-3e64-9c53-bb5ebffd876f"},{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"e5066086-8987-3e64-9c53-bb5ebffd876f","name":"Http 500","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"e5066086-8987-3e64-9c53-bb5ebffd876f","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5066086-8987-3e64-9c53-bb5ebffd876f"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"e5066086-8987-3e64-9c53-bb5ebffd876f","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"e5066086-8987-3e64-9c53-bb5ebffd876f","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5066086-8987-3e64-9c53-bb5ebffd876f"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"}],"remoteProcessGroups":[],"processors":[{"identifier":"8a03b91b-7a61-3fc1-a41c-43ff30c8a31f","name":"List Orchestrators","comments":"","position":{"x":344.0,"y":360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"${node.path}","Working Directory":"${project.dir}","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"js/nifi_client.js;list-process-groups;-r;${node.root};-b;${node.host}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"},{"identifier":"e41c94a6-ca9c-3622-8e42-93d1f8ba1d75","name":"Log OK","comments":"","position":{"x":344.0,"y":928.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#00f731"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 200 OK","log-level":"info","log-prefix":"orchestrator(${path}) ->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"},{"identifier":"5fdbcb4c-b3ff-389d-af42-c65dace8e941","name":"Send 200 OK","comments":"","position":{"x":344.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":"Content-Type|Access.*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"}],"inputPorts":[{"identifier":"380d2627-1f27-32e8-bbd3-9b2d9306a52f","name":"IN","comments":"","position":{"x":400.0,"y":144.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"}],"outputPorts":[],"connections":[{"identifier":"af18b59a-9407-3e81-9b1f-e8fa2b2f009d","name":"","source":{"id":"8a03b91b-7a61-3fc1-a41c-43ff30c8a31f","type":"PROCESSOR","groupId":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"List Orchestrators","comments":""},"destination":{"id":"5fdbcb4c-b3ff-389d-af42-c65dace8e941","type":"PROCESSOR","groupId":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"Send 200 OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"},{"identifier":"c808a531-c5fb-32f5-8d77-30de48d148fe","name":"","source":{"id":"8a03b91b-7a61-3fc1-a41c-43ff30c8a31f","type":"PROCESSOR","groupId":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"List Orchestrators","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"e5066086-8987-3e64-9c53-bb5ebffd876f","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"},{"identifier":"89e04ee2-c3c8-351c-89f2-236d9c12f883","name":"","source":{"id":"5fdbcb4c-b3ff-389d-af42-c65dace8e941","type":"PROCESSOR","groupId":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"Send 200 OK","comments":""},"destination":{"id":"e41c94a6-ca9c-3622-8e42-93d1f8ba1d75","type":"PROCESSOR","groupId":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"Log OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"},{"identifier":"b96e4428-7c66-3d5f-b7c1-5ae3f25a0edd","name":"","source":{"id":"380d2627-1f27-32e8-bbd3-9b2d9306a52f","type":"INPUT_PORT","groupId":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"IN","comments":""},"destination":{"id":"8a03b91b-7a61-3fc1-a41c-43ff30c8a31f","type":"PROCESSOR","groupId":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"List Orchestrators","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"9de1cf61-6815-3af8-ba84-8b4a4963e92f"}],"remoteProcessGroups":[],"processors":[{"identifier":"c193ab06-3680-3c71-a43d-3d000ea3bdca","name":"Route GET, POST","comments":"","position":{"x":-8.0,"y":600.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","POST":"${http.method:equals('POST')}","GET":"${http.method:equals('GET')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"POST":{"name":"POST","displayName":"POST","identifiesControllerService":false,"sensitive":false},"GET":{"name":"GET","displayName":"GET","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9de1cf61-6815-3af8-ba84-8b4a4963e92f"}],"inputPorts":[{"identifier":"493d77b4-0f88-37ae-a0ec-cc4da7b5626d","name":"IN","comments":"","position":{"x":48.0,"y":432.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"9de1cf61-6815-3af8-ba84-8b4a4963e92f"}],"outputPorts":[],"connections":[{"identifier":"f0694f4c-d702-3168-b0e4-94e7b6bb9230","name":"","source":{"id":"c193ab06-3680-3c71-a43d-3d000ea3bdca","type":"PROCESSOR","groupId":"9de1cf61-6815-3af8-ba84-8b4a4963e92f","name":"Route GET, POST","comments":""},"destination":{"id":"b5d2a58e-8dd6-385e-aa77-9a84f36aab8e","type":"INPUT_PORT","groupId":"e41806a7-fa78-3955-9aa1-34f41d31389b","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["POST"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9de1cf61-6815-3af8-ba84-8b4a4963e92f"},{"identifier":"65927e62-7971-3f1d-ba60-ad2d66d729de","name":"","source":{"id":"c193ab06-3680-3c71-a43d-3d000ea3bdca","type":"PROCESSOR","groupId":"9de1cf61-6815-3af8-ba84-8b4a4963e92f","name":"Route GET, POST","comments":""},"destination":{"id":"380d2627-1f27-32e8-bbd3-9b2d9306a52f","type":"INPUT_PORT","groupId":"1a714f3a-d8c9-3f1b-8290-16c8d5b3d23a","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["GET"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9de1cf61-6815-3af8-ba84-8b4a4963e92f"},{"identifier":"ce3d6090-533c-3890-9e64-897cab03ccc1","name":"","source":{"id":"493d77b4-0f88-37ae-a0ec-cc4da7b5626d","type":"INPUT_PORT","groupId":"9de1cf61-6815-3af8-ba84-8b4a4963e92f","name":"IN","comments":""},"destination":{"id":"c193ab06-3680-3c71-a43d-3d000ea3bdca","type":"PROCESSOR","groupId":"9de1cf61-6815-3af8-ba84-8b4a4963e92f","name":"Route GET, POST","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9de1cf61-6815-3af8-ba84-8b4a4963e92f"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"Check License","comments":"","position":{"x":392.0,"y":-80.0},"processGroups":[{"identifier":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"Http 403 Client Error","comments":"","position":{"x":1280.0,"y":424.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 403","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"403"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6ad00da7-9583-38dc-b660-09b57328ae5e"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 403 Error","log-level":"info","log-prefix":"orchestrator(license)->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6ad00da7-9583-38dc-b660-09b57328ae5e"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Missing license key","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"6ad00da7-9583-38dc-b660-09b57328ae5e"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"6ad00da7-9583-38dc-b660-09b57328ae5e"}],"outputPorts":[],"connections":[{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"Http 403","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ad00da7-9583-38dc-b660-09b57328ae5e"},{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"Http 403","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ad00da7-9583-38dc-b660-09b57328ae5e"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6ad00da7-9583-38dc-b660-09b57328ae5e"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"}],"remoteProcessGroups":[],"processors":[{"identifier":"7dbf55d6-b28b-30cd-a3bf-e8cb4cd3d4db","name":"Valid license_key?","comments":"","position":{"x":536.0,"y":536.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to 'match' if all match","attribute_check":"${license_key:equals(${node.license_key})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"attribute_check":{"name":"attribute_check","displayName":"attribute_check","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"},{"identifier":"88612fe1-f9ca-327b-87c3-755cd6c3eba3","name":"License_key available?","comments":"","position":{"x":536.0,"y":320.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","HasLicenseKey":"${license_key:isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"HasLicenseKey":{"name":"HasLicenseKey","displayName":"HasLicenseKey","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"},{"identifier":"a3182a67-074b-367a-82d1-585e10de1d0b","name":"Extract license_key","comments":"","position":{"x":528.0,"y":104.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"license_key":"${http.headers.Authorization:replaceAll('Bearer ','')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"license_key":{"name":"license_key","displayName":"license_key","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"}],"inputPorts":[{"identifier":"7d3066fc-4c59-3a1d-b43f-7ee7669d0269","name":"IN","position":{"x":576.0,"y":-32.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"}],"outputPorts":[{"identifier":"32a2bc9a-f03c-38ec-8411-e8cda6858196","name":"OUT","position":{"x":592.0,"y":792.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"}],"connections":[{"identifier":"a069b307-a813-35c5-a71e-33af930773f6","name":"","source":{"id":"7dbf55d6-b28b-30cd-a3bf-e8cb4cd3d4db","type":"PROCESSOR","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"Valid license_key?","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"},{"identifier":"1e1075e8-28ae-3891-a56b-a9d980b42e52","name":"","source":{"id":"7dbf55d6-b28b-30cd-a3bf-e8cb4cd3d4db","type":"PROCESSOR","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"Valid license_key?","comments":""},"destination":{"id":"32a2bc9a-f03c-38ec-8411-e8cda6858196","type":"OUTPUT_PORT","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"OUT"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"},{"identifier":"9e3de487-9f0d-3f65-821b-0369d68507b3","name":"","source":{"id":"88612fe1-f9ca-327b-87c3-755cd6c3eba3","type":"PROCESSOR","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"License_key available?","comments":""},"destination":{"id":"7dbf55d6-b28b-30cd-a3bf-e8cb4cd3d4db","type":"PROCESSOR","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"Valid license_key?","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["HasLicenseKey"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"},{"identifier":"f4bda690-1177-3100-8813-bd5b62da7fc9","name":"","source":{"id":"7d3066fc-4c59-3a1d-b43f-7ee7669d0269","type":"INPUT_PORT","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"IN"},"destination":{"id":"a3182a67-074b-367a-82d1-585e10de1d0b","type":"PROCESSOR","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"Extract license_key","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"},{"identifier":"ac7eac0a-c6dc-3e5b-aecf-86d93b573eb0","name":"","source":{"id":"a3182a67-074b-367a-82d1-585e10de1d0b","type":"PROCESSOR","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"Extract license_key","comments":""},"destination":{"id":"88612fe1-f9ca-327b-87c3-755cd6c3eba3","type":"PROCESSOR","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"License_key available?","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"},{"identifier":"212f7b53-84b3-3a90-808c-37e98c127763","name":"","source":{"id":"88612fe1-f9ca-327b-87c3-755cd6c3eba3","type":"PROCESSOR","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"License_key available?","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"6ad00da7-9583-38dc-b660-09b57328ae5e","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aef45219-0cb3-3881-8859-dce6bb5d9595"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"Orchestrator Get","comments":"","position":{"x":1064.0,"y":576.0},"processGroups":[{"identifier":"cf69d935-8698-3a9d-ba9a-c285e80f9d96","name":"Http 500 Server Error","comments":"","position":{"x":904.0,"y":600.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 500","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"cf69d935-8698-3a9d-ba9a-c285e80f9d96"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 500 Error","log-level":"info","log-prefix":"orchestrator(${path})->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"cf69d935-8698-3a9d-ba9a-c285e80f9d96"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Something went wrong at our side","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"cf69d935-8698-3a9d-ba9a-c285e80f9d96"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"cf69d935-8698-3a9d-ba9a-c285e80f9d96"}],"outputPorts":[],"connections":[{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"cf69d935-8698-3a9d-ba9a-c285e80f9d96","name":"Http 500","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"cf69d935-8698-3a9d-ba9a-c285e80f9d96","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cf69d935-8698-3a9d-ba9a-c285e80f9d96"},{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"cf69d935-8698-3a9d-ba9a-c285e80f9d96","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"cf69d935-8698-3a9d-ba9a-c285e80f9d96","name":"Http 500","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cf69d935-8698-3a9d-ba9a-c285e80f9d96"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"cf69d935-8698-3a9d-ba9a-c285e80f9d96","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"cf69d935-8698-3a9d-ba9a-c285e80f9d96","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cf69d935-8698-3a9d-ba9a-c285e80f9d96"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"}],"remoteProcessGroups":[],"processors":[{"identifier":"64e981ce-f7bb-3c78-8c62-ebec682c8a87","name":"Send 200 OK","comments":"","position":{"x":344.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":"Content-Type|Access.*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"},{"identifier":"ae4f282c-1ea7-3af3-a873-07cc4d8d8bea","name":"Get Orchestrator","comments":"","position":{"x":344.0,"y":360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"${node.path}","Working Directory":"${project.dir}","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"js/nifi_client.js;get-process-group;-r;${node.root};-b;${node.host};${path}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"},{"identifier":"afc4e097-87d4-33ff-8e23-ca0ace8dd881","name":"Log OK","comments":"","position":{"x":344.0,"y":928.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#00f731"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 200 OK","log-level":"info","log-prefix":"orchestrator(${path}) ->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"}],"inputPorts":[{"identifier":"2a5dac06-bc35-38dc-a937-81b10d482a27","name":"IN","comments":"","position":{"x":400.0,"y":144.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"}],"outputPorts":[],"connections":[{"identifier":"db29e7cb-9ee3-38f9-9f41-1df2a092b9c7","name":"","source":{"id":"ae4f282c-1ea7-3af3-a873-07cc4d8d8bea","type":"PROCESSOR","groupId":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"Get Orchestrator","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"cf69d935-8698-3a9d-ba9a-c285e80f9d96","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"},{"identifier":"828b5100-0b8d-378a-b7cb-e3c89cbceecf","name":"","source":{"id":"64e981ce-f7bb-3c78-8c62-ebec682c8a87","type":"PROCESSOR","groupId":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"Send 200 OK","comments":""},"destination":{"id":"afc4e097-87d4-33ff-8e23-ca0ace8dd881","type":"PROCESSOR","groupId":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"Log OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"},{"identifier":"f2d99e0a-2dcd-3ab8-8347-193bfa1599b4","name":"","source":{"id":"ae4f282c-1ea7-3af3-a873-07cc4d8d8bea","type":"PROCESSOR","groupId":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"Get Orchestrator","comments":""},"destination":{"id":"64e981ce-f7bb-3c78-8c62-ebec682c8a87","type":"PROCESSOR","groupId":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"Send 200 OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"},{"identifier":"3da6ac8a-f5a2-37d3-bca2-b7e189424b0e","name":"","source":{"id":"2a5dac06-bc35-38dc-a937-81b10d482a27","type":"INPUT_PORT","groupId":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"IN","comments":""},"destination":{"id":"ae4f282c-1ea7-3af3-a873-07cc4d8d8bea","type":"PROCESSOR","groupId":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"Get Orchestrator","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7328a09a-9973-3ed6-9cef-4457a02b2fb2"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e","name":"Orchestrator Variables","comments":"","position":{"x":696.0,"y":864.0},"processGroups":[{"identifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Get Variables","comments":"","position":{"x":40.0,"y":464.0},"processGroups":[{"identifier":"b98014df-8bc7-340e-8ba7-ef4e676acfc1","name":"Http 500 Server Error","comments":"","position":{"x":872.0,"y":648.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 500","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b98014df-8bc7-340e-8ba7-ef4e676acfc1"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 500 Error","log-level":"info","log-prefix":"orchestrator(${path}/variables)->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b98014df-8bc7-340e-8ba7-ef4e676acfc1"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Something went wrong at our side","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b98014df-8bc7-340e-8ba7-ef4e676acfc1"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"b98014df-8bc7-340e-8ba7-ef4e676acfc1"}],"outputPorts":[],"connections":[{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"b98014df-8bc7-340e-8ba7-ef4e676acfc1","name":"Http 500","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"b98014df-8bc7-340e-8ba7-ef4e676acfc1","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b98014df-8bc7-340e-8ba7-ef4e676acfc1"},{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"b98014df-8bc7-340e-8ba7-ef4e676acfc1","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"b98014df-8bc7-340e-8ba7-ef4e676acfc1","name":"Http 500","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b98014df-8bc7-340e-8ba7-ef4e676acfc1"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"b98014df-8bc7-340e-8ba7-ef4e676acfc1","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"b98014df-8bc7-340e-8ba7-ef4e676acfc1","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b98014df-8bc7-340e-8ba7-ef4e676acfc1"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"}],"remoteProcessGroups":[],"processors":[{"identifier":"05ad5aa4-bf17-3fac-8c34-a2105a982a1b","name":"Log OK","comments":"","position":{"x":344.0,"y":928.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#00f731"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 200 OK","log-level":"info","log-prefix":"orchestrator(${path}/variables) ->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"},{"identifier":"6e1c2eb1-9d1d-31ae-81da-4c2bebd26849","name":"Set variables path","comments":"","position":{"x":344.0,"y":152.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"path":"${path:replaceAll(\"/variables\",\"\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"path":{"name":"path","displayName":"path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"},{"identifier":"7f8a4ae8-c830-3049-b99b-e2dcec84a9d4","name":"Send 200 OK","comments":"","position":{"x":344.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":"Content-Type|Access.*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"},{"identifier":"d91504ec-867f-3fd3-bbb1-75571b4d0795","name":"Variables Orchestrator","comments":"","position":{"x":344.0,"y":360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"${node.path}","Working Directory":"${project.dir}","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"js/nifi_client.js;get-variables;-r;${node.root};-b;${node.host};${path}"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"}],"inputPorts":[{"identifier":"4e2e0b36-b4eb-3def-bf88-482af89369be","name":"IN","comments":"","position":{"x":400.0,"y":-16.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"}],"outputPorts":[],"connections":[{"identifier":"b1ec45fe-2845-3941-8cf1-d688e27c32f5","name":"","source":{"id":"4e2e0b36-b4eb-3def-bf88-482af89369be","type":"INPUT_PORT","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"IN","comments":""},"destination":{"id":"6e1c2eb1-9d1d-31ae-81da-4c2bebd26849","type":"PROCESSOR","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Set variables path","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"},{"identifier":"953b6272-293a-37ac-b228-8aecb0530b70","name":"","source":{"id":"d91504ec-867f-3fd3-bbb1-75571b4d0795","type":"PROCESSOR","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Variables Orchestrator","comments":""},"destination":{"id":"7f8a4ae8-c830-3049-b99b-e2dcec84a9d4","type":"PROCESSOR","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Send 200 OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"},{"identifier":"f7d6cac3-acee-3d9f-bdd9-89af26d4314c","name":"","source":{"id":"7f8a4ae8-c830-3049-b99b-e2dcec84a9d4","type":"PROCESSOR","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Send 200 OK","comments":""},"destination":{"id":"05ad5aa4-bf17-3fac-8c34-a2105a982a1b","type":"PROCESSOR","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Log OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"},{"identifier":"6e1f5b05-4bb5-3c14-9c99-0f437fd2ec35","name":"","source":{"id":"d91504ec-867f-3fd3-bbb1-75571b4d0795","type":"PROCESSOR","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Variables Orchestrator","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"b98014df-8bc7-340e-8ba7-ef4e676acfc1","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"},{"identifier":"d4d7481a-295f-3989-93bf-b7a916ae7a0a","name":"","source":{"id":"6e1c2eb1-9d1d-31ae-81da-4c2bebd26849","type":"PROCESSOR","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Set variables path","comments":""},"destination":{"id":"d91504ec-867f-3fd3-bbb1-75571b4d0795","type":"PROCESSOR","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"Variables Orchestrator","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13bcff9e-11dc-399f-94aa-3222f48bad9b"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e"},{"identifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Set Variables","comments":"","position":{"x":640.0,"y":464.0},"processGroups":[{"identifier":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5","name":"Http 500 Server Error","comments":"","position":{"x":872.0,"y":648.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1b532aba-869c-3cf7-8635-147d74c182cc","name":"Http 500","comments":"","position":{"x":-280.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5"},{"identifier":"a56e6d6d-1804-346e-845e-2f32ea025494","name":"LogMessage","comments":"","position":{"x":-280.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 500 Error","log-level":"info","log-prefix":"orchestrator(${path}/variables)->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5"},{"identifier":"84a1c147-b676-35c6-b8ab-109ae1fb7607","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":192.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*)","Replacement Value":"Something went wrong at our side","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5"}],"inputPorts":[{"identifier":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","name":"ERROR","comments":"","position":{"x":-224.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5"}],"outputPorts":[],"connections":[{"identifier":"d273e741-4027-3415-abea-630de5cb3805","name":"","source":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5","name":"ReplaceText","comments":""},"destination":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5","name":"Http 500","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5"},{"identifier":"5a8aee99-f346-3d01-be97-d727e7260d84","name":"","source":{"id":"1b532aba-869c-3cf7-8635-147d74c182cc","type":"PROCESSOR","groupId":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5","name":"Http 500","comments":""},"destination":{"id":"a56e6d6d-1804-346e-845e-2f32ea025494","type":"PROCESSOR","groupId":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5","name":"LogMessage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5"},{"identifier":"29ecaddb-6385-3ff2-b58b-d238d487078e","name":"","source":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5","name":"ERROR","comments":""},"destination":{"id":"84a1c147-b676-35c6-b8ab-109ae1fb7607","type":"PROCESSOR","groupId":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"}],"remoteProcessGroups":[],"processors":[{"identifier":"d7f3c9f8-42f3-3eab-b905-197afeb78734","name":"Send 200 OK","comments":"","position":{"x":344.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","Attributes to add to the HTTP Response (Regex)":"Content-Type|Access.*","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"},{"identifier":"3c846872-9003-3900-9da3-6885126ab08b","name":"Status Orchestrator","comments":"","position":{"x":344.0,"y":360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"${node.path}","Working Directory":"${project.dir}","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"js/nifi_client.js;set-variables;-r;${node.root};-b;${node.host};${path};-"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"},{"identifier":"019959a2-69b9-3f76-8cad-079aa8a2af98","name":"Set status path","comments":"","position":{"x":344.0,"y":152.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"path":"${path:replaceAll(\"/variables\",\"\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"path":{"name":"path","displayName":"path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"},{"identifier":"b730cccd-9d56-33f7-b55a-914cf4076106","name":"Log OK","comments":"","position":{"x":344.0,"y":928.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{"background-color":"#00f731"},"type":"org.apache.nifi.processors.standard.LogMessage","properties":{"log-message":"Sent 200 OK","log-level":"info","log-prefix":"orchestrator(${path}) ->"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"}],"inputPorts":[{"identifier":"101ca9ca-ed0d-3dcf-8770-a5288c106494","name":"IN","comments":"","position":{"x":400.0,"y":-40.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"}],"outputPorts":[],"connections":[{"identifier":"492dd97b-9330-3934-82b9-faca749eb407","name":"","source":{"id":"d7f3c9f8-42f3-3eab-b905-197afeb78734","type":"PROCESSOR","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Send 200 OK","comments":""},"destination":{"id":"b730cccd-9d56-33f7-b55a-914cf4076106","type":"PROCESSOR","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Log OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"},{"identifier":"5909148a-5b55-3b8a-b6ff-5a59cfeaad44","name":"","source":{"id":"3c846872-9003-3900-9da3-6885126ab08b","type":"PROCESSOR","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Status Orchestrator","comments":""},"destination":{"id":"d35b0298-61ec-3231-8ba7-9a2a65fc87a8","type":"INPUT_PORT","groupId":"c8a3d8df-77e8-37e6-bfa4-1a14eb0a74e5","name":"ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"},{"identifier":"1d13b7bb-1773-34b4-b627-c0607a1003d2","name":"","source":{"id":"019959a2-69b9-3f76-8cad-079aa8a2af98","type":"PROCESSOR","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Set status path","comments":""},"destination":{"id":"3c846872-9003-3900-9da3-6885126ab08b","type":"PROCESSOR","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Status Orchestrator","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"},{"identifier":"763ebba1-1e90-3504-b249-b6dd2153c663","name":"","source":{"id":"101ca9ca-ed0d-3dcf-8770-a5288c106494","type":"INPUT_PORT","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"IN","comments":""},"destination":{"id":"019959a2-69b9-3f76-8cad-079aa8a2af98","type":"PROCESSOR","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Set status path","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"},{"identifier":"5fd607fb-2f1d-32d4-a399-293ae672918a","name":"","source":{"id":"3c846872-9003-3900-9da3-6885126ab08b","type":"PROCESSOR","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Status Orchestrator","comments":""},"destination":{"id":"d7f3c9f8-42f3-3eab-b905-197afeb78734","type":"PROCESSOR","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"Send 200 OK","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e"}],"remoteProcessGroups":[],"processors":[{"identifier":"5279e915-e5a5-3888-b20e-f30344592629","name":"Route GET, POST","comments":"","position":{"x":344.0,"y":152.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","POST":"${http.method:equals('POST')}","GET":"${http.method:equals('GET')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"POST":{"name":"POST","displayName":"POST","identifiesControllerService":false,"sensitive":false},"GET":{"name":"GET","displayName":"GET","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e"}],"inputPorts":[{"identifier":"ed5aee2f-31d7-344a-b881-de96f521feea","name":"IN","comments":"","position":{"x":400.0,"y":0.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e"}],"outputPorts":[],"connections":[{"identifier":"ed147765-57c1-385f-94a3-f8b2cf7c85f5","name":"","source":{"id":"5279e915-e5a5-3888-b20e-f30344592629","type":"PROCESSOR","groupId":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e","name":"Route GET, POST","comments":""},"destination":{"id":"101ca9ca-ed0d-3dcf-8770-a5288c106494","type":"INPUT_PORT","groupId":"d93ae46e-e87e-3e16-aeda-1dcfc2b8a5cf","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["POST"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e"},{"identifier":"19311763-1102-3278-8998-0112141ffa65","name":"","source":{"id":"ed5aee2f-31d7-344a-b881-de96f521feea","type":"INPUT_PORT","groupId":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e","name":"IN","comments":""},"destination":{"id":"5279e915-e5a5-3888-b20e-f30344592629","type":"PROCESSOR","groupId":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e","name":"Route GET, POST","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e"},{"identifier":"a9ee3712-8ed1-3a59-96e4-40547c288cdc","name":"","source":{"id":"5279e915-e5a5-3888-b20e-f30344592629","type":"PROCESSOR","groupId":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e","name":"Route GET, POST","comments":""},"destination":{"id":"4e2e0b36-b4eb-3def-bf88-482af89369be","type":"INPUT_PORT","groupId":"13bcff9e-11dc-399f-94aa-3222f48bad9b","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["GET"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"}],"remoteProcessGroups":[],"processors":[{"identifier":"811f8b81-a023-3456-81e9-f9d6d27b9283","name":"Route / , /{id} , /{id}/status , /{id}/variables","comments":"","position":{"x":408.0,"y":416.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","isRoot":"${path:isEmpty()}","isStatus":"${path:matches(\".*/status\")}","isVariables":"${path:matches(\".*/variables\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"isRoot":{"name":"isRoot","displayName":"isRoot","identifiesControllerService":false,"sensitive":false},"isStatus":{"name":"isStatus","displayName":"isStatus","identifiesControllerService":false,"sensitive":false},"isVariables":{"name":"isVariables","displayName":"isVariables","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"f0808fea-ec11-3c23-82d9-b2120920121b","name":"HandleHttpRequest","comments":"","position":{"x":400.0,"y":-312.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"88a9504c-d0fa-32a0-ba51-b700f77162a8","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":null,"Allow GET":"true","Allow HEAD":"false","Listening Port":"${node.port}","Client Authentication":"No Authentication","Allow PUT":"false"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"32aa3a01-fd67-3153-82f4-8eafc4fb077a","name":"Parse path","comments":"","position":{"x":408.0,"y":200.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"path":"${http.request.uri:substring(1)}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"path":{"name":"path","displayName":"path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8c1508a0-dc72-35cb-bc73-3f4c4311ef94","name":"","source":{"id":"811f8b81-a023-3456-81e9-f9d6d27b9283","type":"PROCESSOR","groupId":"70697cea-725d-3800-94e9-21532aa2f723","name":"Route / , /{id} , /{id}/status , /{id}/variables","comments":""},"destination":{"id":"67efe708-a285-34ec-a85d-bba791f502aa","type":"INPUT_PORT","groupId":"d215c208-3452-310c-8c2c-4352628bc348","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isStatus"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"f590faf4-c109-3c7b-ae35-70d532044288","name":"","source":{"id":"811f8b81-a023-3456-81e9-f9d6d27b9283","type":"PROCESSOR","groupId":"70697cea-725d-3800-94e9-21532aa2f723","name":"Route / , /{id} , /{id}/status , /{id}/variables","comments":""},"destination":{"id":"ed5aee2f-31d7-344a-b881-de96f521feea","type":"INPUT_PORT","groupId":"b73502de-36ef-3986-8cc6-2fc4f5d58b4e","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isVariables"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"8e090dc0-5e6a-31e8-ab1f-68cf9c27f8ca","name":"","source":{"id":"32a2bc9a-f03c-38ec-8411-e8cda6858196","type":"OUTPUT_PORT","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"OUT"},"destination":{"id":"32aa3a01-fd67-3153-82f4-8eafc4fb077a","type":"PROCESSOR","groupId":"70697cea-725d-3800-94e9-21532aa2f723","name":"Parse path","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"584be8ad-8330-3c29-b448-bb3969a4b74b","name":"","source":{"id":"f0808fea-ec11-3c23-82d9-b2120920121b","type":"PROCESSOR","groupId":"70697cea-725d-3800-94e9-21532aa2f723","name":"HandleHttpRequest","comments":""},"destination":{"id":"7d3066fc-4c59-3a1d-b43f-7ee7669d0269","type":"INPUT_PORT","groupId":"aef45219-0cb3-3881-8859-dce6bb5d9595","name":"IN"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"270f7eca-27e5-3397-a5d1-5d6ae042cf58","name":"","source":{"id":"811f8b81-a023-3456-81e9-f9d6d27b9283","type":"PROCESSOR","groupId":"70697cea-725d-3800-94e9-21532aa2f723","name":"Route / , /{id} , /{id}/status , /{id}/variables","comments":""},"destination":{"id":"493d77b4-0f88-37ae-a0ec-cc4da7b5626d","type":"INPUT_PORT","groupId":"9de1cf61-6815-3af8-ba84-8b4a4963e92f","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isRoot"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"2c16e205-fd45-35b3-925f-f396f7374a07","name":"","source":{"id":"32aa3a01-fd67-3153-82f4-8eafc4fb077a","type":"PROCESSOR","groupId":"70697cea-725d-3800-94e9-21532aa2f723","name":"Parse path","comments":""},"destination":{"id":"811f8b81-a023-3456-81e9-f9d6d27b9283","type":"PROCESSOR","groupId":"70697cea-725d-3800-94e9-21532aa2f723","name":"Route / , /{id} , /{id}/status , /{id}/variables","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"},{"identifier":"c368bdb6-797f-3666-b02a-730a5221b78f","name":"","source":{"id":"811f8b81-a023-3456-81e9-f9d6d27b9283","type":"PROCESSOR","groupId":"70697cea-725d-3800-94e9-21532aa2f723","name":"Route / , /{id} , /{id}/status , /{id}/variables","comments":""},"destination":{"id":"2a5dac06-bc35-38dc-a937-81b10d482a27","type":"INPUT_PORT","groupId":"7328a09a-9973-3ed6-9cef-4457a02b2fb2","name":"IN","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"}],"labels":[{"identifier":"53e79144-fcb5-3e1e-8222-35d5b6fa3ceb","position":{"x":320.0,"y":-488.0},"label":"Orchestrator API\n\n- /. - list/add orchestrators\n- /{id} - get/delete orchestrator information\n- /{id}/status - get/set orchestrator status information\n- /{id}/variables - get/set orchestrator variables","width":552.0,"height":144.0,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"70697cea-725d-3800-94e9-21532aa2f723"}],"funnels":[],"controllerServices":[],"variables":{"project.dir":"/Users/hochsten/Dev/mellon/POrchestratorHelpers","node.port":"9190","node.license_key":"RjQyOENCMTktNTMwNC00MkY1LUI4MkMtNzU5QjU0MjU0QTM2Cg==","node.path":"/usr/local/bin/node","node.root":"017e1002-6222-1237-f04b-7e229ec1044b","node.template":"df81cff8-545c-4248-b861-c83045fb069f","node.host":"http://localhost:9190"},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"88a9504c-d0fa-32a0-ba51-b700f77162a8":{"identifier":"88a9504c-d0fa-32a0-ba51-b700f77162a8","name":"StandardHttpContextMap"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}